
        * {
            box-sizing: border-box;
        }

        body {
            font-family: "微軟正黑體";
        }

        .wrap {
            width: 1200px;
            margin: 0 auto;
           
        }

        .header {
            max-width: 1200px;
            border-bottom: 2px solid black;
            margin: 48px 0 17px 0;
            padding-bottom: 10px;
        }

        .header p {
            font-size: 80px;
            line-height: 90px;
        }



        .content img {
            width: 324px;
            height: 324px;
            margin: 48px 0;
        }

        .content h1 {
            font-size: 32px;
            border-bottom: 1px black solid;
            padding-bottom: 10px;
        }

        .content h1 span {
            font-size: 24px;
            color: #A00404;
        }

        .content ul {
            border:2px solid red;
            padding-left: 20px;
            line-height: 32px;
            margin: 10px 0 40px 0;
        }

        .content ul li {
            margin: 24px ;
            border:2px solid blue;
        }

        .content ul>li:first-child::before {
            content: '   ';
            width: 16px;
            height: 16px;
            background-color: #96A9C4;
            border-radius: 50%;
            display: inline-block;
        }
        
        .timeline {
            position: relative;

        }

        h1 {
            margin-bottom: 20px;
        }

        /* 設定前面的那條線 */
        .timeline::before {

            content: '';
            position: absolute;
            width: 3px;
            background-color: #96A9C4;
            top: 18px;
            bottom: 22px;
            left: 29.5px;
            z-index: 2;
        }

        /* Container around content */
        .container {
            position: relative;
            left: 30px;
            /* border: black solid 2px; */

        }

        /* 設定前面的圓點 */
        .container::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            left: -8px;
            background-color: #96A9C4;
            top: 14px;
            border-radius: 50%;
            z-index: 1;
        }

        .content {
            padding: 10px 20px;
            font-size: 24px;
        }

        /* 設定深藍區塊 */
        .skill {
            position: relative;
            width: 1200px;
            height: 504px;
            background-color: #415165;
            margin: 20px auto;
            padding: 24px 0 0 0;
            color: white;
        }

        /* 設定淺藍區塊 */
        .skill::after {
            content: "";
            position: absolute;
            background-color: #96A9C4;
            z-index: -1;
            height: 360px;
            width: 1920px;
            left: -360px;
            top: 69px;
        }

        .skill h2 {
            width: 996px;
            font-size: 32px;
            border-bottom: 1px solid white;
            text-align: center;
            line-height: 25px;
            padding-bottom: 8px;
            margin: 0 auto 40px auto;
        }

        .skill span {
            font-size: 24px;
            margin-left: 16px;
        }

        /* ul */
        .skillList {
            width: 216px;
            padding-left: 23px;
            border-left: 1px solid #96A9C4;
            margin: 0 auto;
            /* border: 1px solid black; */
        }

        /* li */
        .skillListItem {
            font-size: 24px;
            font-weight: lighter;
            line-height: 36px;
            margin-bottom: 16px;
        }

        .work h1 {
            font-size: 32px;
            border-bottom: 2px black solid;
            padding: 20px 0;

        }

        .work h1 span {
            font-size: 24px;
            color: #A00404;
        }

        .work ul {
            width: 700px;
            height: 647px;

            padding: 20px;
        }

        .work li {
            font-size: 24px;
            font-weight: 600;
            line-height: 24px;
            margin: 20px 0;
        }

        .work img {
            width: 90px;
            height: 67px;
            margin: 0 20px 0 0;

        }

        .work p {
            width: 642px;
            height: 154px;
            line-height: 30px;

        }

        .work .tree {
            width: 72px;
            height: 73px;
        }

        .footer {
            width: 1200px;
            height: 401px;
            background-color: #415165;

        }

        .footer h2 {
            
            width: 1200px;
            color: white;
            font-size: 32px;
            text-align: center;
            border-bottom: 1px white solid;
            padding: 20px;
        }

        .footer span {
            font-size: 24px;
            margin-left: 20px;
        }

        .footer li {
            font-size: 24px;
            line-height: 36px;
            color: white;
            text-align: center;
            padding: 12.5px;
        }

        .footer .icon {
            margin: 0 auto;
            width: 192px;
        }

        .footer img {
            margin: 5px;
        }
